@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button-primary {
    @apply p-2 border rounded-md text-main-550/50 border-main-550/50 hover:text-main-550 hover:border-main-550 duration-300 transition ease-in-out;
  }
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.p-button-text .pi {
  transition: filter 0.3s ease;
}

.p-button-text:hover .pi {
  filter: brightness(2);
}

.custom-menu .p-menuitem-link {
  @apply flex items-center gap-2 px-4 py-2;
}

.custom-menu .p-menuitem-link:hover {
  @apply bg-secondary-350;
}

.custom-menu .p-submenu-header {
  @apply border-b border-secondary-200 bg-transparent;
}

.custom-menu .p-menu-separator {
  @apply border-y border-secondary-200 bg-transparent;
}

.custom-menu .p-submenu-list {
  @apply bg-secondary-350;
}

.custom-menu .p-submenu-list-flipped {
  @apply bg-main-850 text-main-300;
}
